# Auto detect text files and perform LF normalization
* text=auto

*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tpk filter=lfs diff=lfs merge=lfs -text
*.gdbtable filter=lfs diff=lfs merge=lfs -text
*.spx filter=lfs diff=lfs merge=lfs -text
*.gdbtablx filter=lfs diff=lfs merge=lfs -text
*.gdbindexes filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.bundlx filter=lfs diff=lfs merge=lfs -text
*.mapx filter=lfs diff=lfs merge=lfs -text
*.pagx filter=lfs diff=lfs merge=lfs -text